:root {
  --color-primary: #fff;
  --color-primary-rgb: 1, 1, 1;
  --color-secondary: #ff9900;
  --color-secondary-rgb: 255, 153, 0;
  --color-tertiary: #ffe5d2;
  --color-tertiary-rgb: 255, 229, 210;
  --color-dark: #2f281e;
  --color-dark-lighter: #544837;
}
